@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    --primary-color: #e74c3c;
    --secondary-color: #f1c40f;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body, html {
    height: 100%;
    color: rgba(0,0,0,0.8);
    font-family: 'Montserrat', sans-serif;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

nav {
    background: #e74c3c;
}

    nav a {
        color: #ecf0f1 !important;
        transition: background 0.2s ease-in-out;
    }

        nav a:hover, nav a:active, nav a:focus {
            background: #c0392b !important;
        }

.logo {
    height: 600px;
}

.reset-link {
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}

    .reset-link:hover {
        text-decoration: none;
        color: rgba(0,0,0,0.8);
    }

    .reset-link:visited {
        text-decoration: none;
        color: rgba(0,0,0,0.8);
    }

    .reset-link:focus {
        text-decoration: none;
        color: rgba(0,0,0,0.8);
    }

.material-card {
    padding: 30px;
    width: 300px;
    height: 300px;
}

.shadow {
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
}

.shadow-hover {
    transition: box-shadow 0.2s cubic-bezier(.25,.8,.25,1);
}

    .shadow-hover:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .shadow-hover:active {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

.pouleHeader {
    background: #e74c3c;
    color: #f5f5f5;
    padding: 0 15px;
    width: 100%;
}

.padding {
    padding: 15px;
}

.grid-container {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px;
}

.grid-9-colums {
    grid-template-columns:  4fr repeat(8,1fr);
}

.grid-3-colums {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-4-colums {
    grid-template-columns: repeat(4,1fr);
}

.grid-2-colums {
    grid-template-columns: 1fr 1fr;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.full-height {
    height: 100%;
}

@media (max-width: 1200px) {
    .material-card {
        width: 200px;
        height: 200px;
    }
}
