@model WK2018.Models.KnockoutViewModels.IndexKnockoutViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="grid-container">


    @foreach (var knockout in Model.KnockoutStages)
    {


        <div class="shadow">
            <div class="pouleHeader flex-container"><h2>@knockout.Type</h2></div>
            <div class="grid-container grid-4-colums padding">
                @{ Wedstrijd wedstrijd1 = new Wedstrijd()
                {
                    TeamThuis = new Team()
                    {
                        Naam = "België"
                    },
                    TeamUit = new Team
                    {
                        Naam = "Brazilië"
                    },
                    Datum = DateTime.Now,
                };
                }
                @await Html.PartialAsync("WedstrijdDetail", wedstrijd1)

                @foreach (var wedstrijd in Model.KnockoutWedstrijden.GetValueOrDefault(knockout.Type))
                {
                    @await Html.PartialAsync("WedstrijdDetail", wedstrijd);
                }
            </div>
        </div>
                    }

</div>
