@model string
@{
    ViewData["Title"] = "Admin Maintain Page";
}

<h4>Overzicht</h4>

<p>Dit is de admin pagina voor het WK 2018 project.</p>
<p>Wij heten u welkom op onze site en wensen u een gebruiksvriendelijk bezoek!</p>

<div class="list-group col-md-3">
    <a class="list-group-item list-group-item-action list-group-item-info text-center" asp-area="Admin" asp-controller="Speler" asp-action="Index">Beheren Spelers</a>
    <a class="list-group-item list-group-item-action list-group-item-success text-center" asp-area="Admin" asp-controller="Wedstrijd" asp-action="Index">Beheren Wedstrijd</a>
    <a class="list-group-item list-group-item-action list-group-item-info text-center" asp-area="Admin" asp-controller="Wedstrijd" asp-action="VoegWedstrijdToe" >Wedstrijd toevoegen</a>
    <a class="list-group-item list-group-item-action list-group-item-success text-center" asp-area="Admin" asp-controller="Simulatie" asp-action="Index" >Simuleer Toernooi</a>
    <a class="list-group-item list-group-item-action list-group-item-info text-center" asp-area="Admin" asp-controller="Simulatie" asp-action="Reset" >Reset Toernooi</a>
</div>

<h2>@Model</h2>