@model IEnumerable<Team>

@{
    ViewData["Title"] = "Teams beheren";
}

<h2>Beheren van teams</h2>

<ul>
    @foreach (Team team in Model)
    {
        <li><a asp-area="Admin" asp-controller="Team" asp-action="WijzigTeam" asp-route-id="@team.ID">@team.Naam</a></li>
    }
</ul>


