@model Team
@{
    ViewData["Title"] = "Index";
}

<h2>Het toernooi is gesimuleerd!</h2>


<h1>@Model.Naam is WERELDKAMPIOEN!</h1>

<a asp-area="Admin" asp-controller="Maintain" asp-action="Index"> Terug </a>

