@model Poule
@{
    ViewData["Title"] = "poule";
}
<a asp-controller="Poule" asp-action="Detail" asp-route-id="@Model.ID" class="flex-container shadow shadow-hover reset-link">
    <div class="pouleHeader flex-container"><h2>Poule @Model.Naam</h2></div>
    <div class="grid-container grid-2-colums padding">
        <p><b>Team</b></p><p class="text-center"><b>Pnt</b></p>
        @foreach (var team in Model.Teams.OrderBy(t => t.Doelsaldo).OrderBy(t=> t.Punten).Reverse())
        {
            <div>@team.Naam</div>
            <div class="text-center">@team.Punten</div>
        }
    </div>
</a>
