@model Wedstrijd

@{
    ViewData["Title"] = "WijzigWedstrijd";
}

<h2>Wijzig de wedstrijd</h2>

<form asp-action="WijzigWedstrijd">
    <div class="form-group">
        <label asp-for="Datum">@Html.DisplayNameFor(x => x.Datum)</label>
        <input asp-for="Datum" class="form-control" id="datetimepicker" type="text"/>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="TeamThuis">Thuisteam</label>
        <input asp-for="TeamThuis.Naam" class="form-control" type="text" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="ScoreThuis">Score thuis</label>
        <input asp-for="ScoreThuis" class="form-control" type="number" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="TeamUit">Uitteam</label>
        <input asp-for="TeamUit.Naam" class="form-control" type="text" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="ScoreUit">Score uit</label>
        <input asp-for="ScoreUit" class="form-control" type="number" />
    </div>
</form>

<script>jQuery('#datetimepicker').datetimepicker();</script>

