@model IEnumerable<Team>

@{
    ViewData["Title"] = "Lijst Teams";
}

<h2>Lijst Teams - Speler Beheren</h2>

<ul>
    @foreach (Team team in Model)
{
    <li><a asp-area="Admin" asp-controller="Speler" asp-action="ListSpelers" asp-route-id="@team.ID">@team.Naam</a></li>
}
</ul>
