@model IEnumerable<Team>

@{
    ViewData["Title"] = "Lijst Teams";
}

<h2>Lijst Teams - Speler Verwijderen</h2>

<ul>
    @foreach (Team team in Model)
    {
        <li><a asp-area="Admin" asp-controller="Speler" asp-action="LijstSpelers" asp-route-id="@team.ID">@team.Naam</a></li>
    }
</ul>

<a asp-area="Admin" asp-controller="Maintain" asp-action="Index">Back</a>