@model IEnumerable<Speler>

@{
    ViewData["Title"] = "Lijst Spelers";
}

<h2>Lijst Spelers</h2>

<ul>
    @foreach (Speler speler in Model)
    {
        <li><a asp-area="Admin" asp-controller="Speler" asp-action="WijzigSpeler" asp-route-id="@speler.ID">@speler.Naam</a></li>
    }
</ul>

<a asp-area="Admin" asp-controller="Speler" asp-action="Index">Back</a>